@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body {
   background: 30% 70% url(/images/bg-pattern-bottom.svg), 50% 40% url(/images/bg-pattern-top.svg);
   background-size: cover, cover;
   background-color: hsl(185, 75%, 39%);
   font-family: 'Kumbh Sans';
}

.card {
   border-radius: 15px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   max-width: 350px;
   width: 100%;
   background-color: #fff;
   box-shadow: 0 8px 12px 10px rgba(0, 0, 0, 0.083);
   color: hsl(229, 23%, 23%);
   overflow: hidden;
}

.card-image-bg img {
   width: 100%;
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;
}

.card-image-bg, .card-image-profile {
   margin: 0;
   padding: 0;
   align-items: center;
}

.card-image-profile img{
   border: 5px solid #fff;
   border-radius: 50px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -100%);
   z-index: 100;
}

.card-info {
   padding: 10px;
   margin-top: 40px;
}

h3 {
   font-weight: 700;
   text-align: center;
   letter-spacing: .01rem;
   margin-bottom: 8px;
}

p {
   margin-top: 0;
   font-weight: 400;
   color: hsl(0, 0%, 59%);
   text-align: center;
   font-size: .9rem;
}

#age {
   color: hsl(0, 0%, 59%);
   font-weight: 400;
   font-size: 1.2rem;
}



.card-stats {
   border-top: 2px solid #dcd9d9;
   text-align: center;
   margin-top: 30px;
}

.card .card-stats ul {
   list-style-type: none;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   margin: 0;
   padding: 15px 30px;
}

.card .card-stats ul li {
   text-align: center;
   font-size: 1.08rem;
   font-weight: 700;
}

.card-stat-name {
   font-size: .9rem;
   letter-spacing: 1px;
   color: hsl(0, 0%, 59%);
   font-weight: 400;
}

.attribution { 
   font-size: 11px; 
   text-align: center; 
   position: absolute;
   bottom: 15px;
   left: 50%;
   transform: translate(-50%);
 }

 .attribution a { 
   color: hsl(228, 45%, 44%); 
 }
