@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
body {
   background-color: hsl(217, 54%, 11%);
   color: hsl(215, 51%, 70%);
   font-family: 'Outfit';
}

.card {
   width: 100%;
   max-width: 275px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   border-radius: 8px;
   padding: 25px;
   box-shadow: 0 8px 15px 15px #08101c70;
   background-color: hsl(216, 50%, 16%);
}

.card h3 {
   color: #cfdbe2;
   font-weight: 600;
   margin-bottom: 15px;
   cursor: pointer;
}
.card h3:hover {
   color: hsl(178, 100%, 50%);
   font-weight: 600;
   margin-bottom: 15px;
}

.card_excerpt {
   margin-bottom: 23px;
   line-height: 20px;
}

.card_price {
   color: hsl(178, 100%, 50%);
   font-weight: 600;
}

.card_image img{
   border-radius: 8px;
   width: 100%;
   padding: 0;
   margin-bottom: 7px;
}

.card ul {
   font-size: 0.8rem;
   display: flex;
   list-style-type: none;
   padding: 0;
   margin: 0;
   justify-content: space-between;
   padding-bottom: 15px;
   border-bottom: 1px solid #7489a4;
}

ul img {
   position: relative;
   bottom: -3px;
   margin-right: 1px;
}

.card ul li {
   display: inline-block;
   margin-bottom: 3px;
}


.card_author {
   margin-top: 12px;
   margin-bottom: 0;
   display: flex;
   justify-content: flex-start;
   flex-direction: row;
   align-items: center;
   font-size:0.9rem;
}

.card_author a:hover {
   color: hsl(178, 100%, 50%);
}

.card_author img {
   position: relative;
   top: 3;
   width: 100%;
   max-width: 30px;
   margin-right: 13px;
   margin-top: 5px;
   border: 2px solid #cfdbe2;
   border-radius: 50%;
   
}

.card_author a {
   color: #cfdbe2; 
   text-decoration: none;
}

.attribution { 
   font-size: 11px; 
   text-align: center;
   position: absolute;
   bottom: 15px;
   left: 50%;
   transform: translate(-50%);
}

.attribution a { 
   color: #7489a4; 
} 